    <section id="main">
      <header id="title">
        <h1>Thierry LE LURON</h1>
        <span class="subtitle">SciencesPo</span>
      </header>
      <section class="main-block">
        <h2>
          <i class="fa fa-suitcase"></i> Experiences
        </h2>
        <section class="blocks">
          <div class="date">
            <span>2015</span><span>present</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>Some Position</h3>
              <span class="place">Some Workplace</span>
              <span class="location">(remote)</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio. Vestibulum dapibus pharetra odio, egestas ullamcorper ipsum congue ac. Maecenas viverra tortor eget convallis vestibulum. Donec pulvinar venenatis est, non sollicitudin metus laoreet sed. Fusce tincidunt felis nec neque aliquet porttitor</li>
              </ul>
              </div>
          </div>
        </section>
        <section class="blocks">
          <div class="date">
            <span>2014</span><span>2015</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>Another Position</h3>
              <span class="place">Some Workplace</span>
              <span class="location">Some City, Some Country</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="blocks">
          <div class="date">
            <span>2013</span><span>2014</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>Yet Another Job Position</h3>
              <span class="place">Some Workplace</span>
              <span class="location">Some City, Some Country</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
              </ul>
              </div>
          </div>
        </section>
      </section>
      <section class="main-block">
        <h2>
          <i class="fa fa-folder-open"></i> Selected Projects
        </h2>
        <section class="blocks">
          <div class="date">
            <span>2015</span><span>2016</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>Some Project 1</h3>
              <span class="place">Some workplace</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio. Vestibulum dapibus pharetra odio, egestas ullamcorper ipsum congue ac</li>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="blocks">
          <div class="date">
            <span>2014</span><span>2015</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>Some Project 2</h3>
              <span class="place">Some workplace</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio. Vestibulum dapibus pharetra odio, egestas ullamcorper ipsum congue ac. Maecenas viverra tortor eget convallis vestibulum. Donec pulvinar venenatis est, non sollicitudin metus laoreet sed. Fusce tincidunt felis nec neque aliquet porttitor</li>
              </ul>
            </div>
          </div>
        </section>
        <section class="blocks">
          <div class="date">
            <span>2014</span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3>Some Project 3</h3>
              <span class="place">Some workplace</span>
            </header>
            <div>
              <ul>
                <li>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin nec mi ante. Etiam odio eros, placerat eu metus id, gravida eleifend odio</li>
              </ul>
            </div>
          </div>
        </section>
      </section>
      <section class="main-block concise">
        <h2>
          <i class="fa fa-graduation-cap"></i> Education
        </h2>
		<% Education.all.each do |education| %>
        <section class="blocks">
          <div class="date">
            <span><%= education.date_debut %></span><span><%= education.date_fin %></span>
          </div>
          <div class="decorator">
          </div>
          <div class="details">
            <header>
              <h3><%= education.titre %></h3>
              <span class="place"><%= education.institution %></span>
              <span class="location"><%= education.lieu %></span>
            </header>
            <div><%= education.description %></div>
          </div>
        </section>
	    <% end %>
      </section>
    </section>
    <aside id="sidebar">
      <div class="side-block" id="contact">
        <h1>
          Contact Info
        </h1>
        <ul>
		  <% Contact.all.each do |contact| %>
			<li><%= contact.coordonnee %></li>
		  <% end %>
        </ul>
      </div>
      <div class="side-block" id="skills">
        <h1>
          Skills
        </h1>
        <ul>
		  <% Skill.all.each do |skill| %>
			<li><%= skill.competence %></li>
		  <% end %>
        </ul>
      </div>
      <div class="side-block" id="disclaimer">
        This r&eacute;sum&eacute; was wholly typeset with HTML/CSS &mdash; see <code>git.io/vVSYL</code>
      </div>
    </aside>