<p id="notice"><%= notice %></p>

<p>
  <strong>Date debut:</strong>
  <%= @experience.date_debut %>
</p>

<p>
  <strong>Date fin:</strong>
  <%= @experience.date_fin %>
</p>

<p>
  <strong>Titre:</strong>
  <%= @experience.titre %>
</p>

<p>
  <strong>Entreprise:</strong>
  <%= @experience.entreprise %>
</p>

<p>
  <strong>Description:</strong>
  <%= @experience.description %>
</p>

<p>
  <strong>Lieu:</strong>
  <%= @experience.lieu %>
</p>

<%= link_to 'Edit', edit_experience_path(@experience) %> |
<%= link_to 'Back', experiences_path %>
